
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<CoffeeShopApp.Models.Product>

<h2>Sản Phẩm</h2>
<div class="product-list">
    @foreach (var product in Model)
    {
        <div class="product-item">
            <h3>@product.Name</h3>
            <p>@product.Description</p>
            <p>Giá: @product.Price.ToString("C")</p>
            <a href="@Url.Action("Details", "Shop", new { id = product.ProductId })" class="btn btn-primary">Xem Chi Tiết</a>
        </div>
    }
</div>

