
@{
    ViewBag.Title = "EmptyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ hàng trống</h2>

<div class="text-right">
    <a href="@Url.Action("Shopping", "Products")" class="btn btn-warning">Back to Shopping</a>
</div>