.input-group {
    border: none; /* Remove border */
}

    .input-group .form-control,
    .input-group .btn {
        box-shadow: none; /* Remove shadow */
        border-radius: 0; /* Remove border radius */
    }
        /* Optional: Add custom styling if needed */
        .input-group .form-control::placeholder {
            color: #999; /* Customize placeholder color */
            opacity: 1; /* Ensure the placeholder is fully opaque */
        }


/* Vertical divider */
.navbar-nav .nav-item:not(:last-child) {
    position: relative;
}

    .navbar-nav .nav-item:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 30%; /* Adjusts vertical positioning of the line */
        height: 40%; /* Adjusts the length of the line */
        border-right: 1px solid #ccc; /* Line color */
    }

.navbar-nav .nav-link {
    padding-right: 20px; /* Spacing between text and border */
}

/* Hide the vertical divider on mobile view */
@media (max-width: 767px) {
    .navbar-nav .nav-item:not(:last-child)::after {
        display: none; /* Hide divider line on mobile */
    }
}
/*Do not touch this*/
/* The container must be positioned relative: */
.autocomplete {
    position: relative;
    display: block;
    width: 100%; /* Full width on smaller screens */
    max-width: 18rem; /* Limit width on larger screens */
}

input[type="text"] {
    background-color: #f1f1f1;
    width: 100%; /* Full width in the container */
    height: 5vh;
    padding: 0.5rem;
}

input[type="submit"] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
    padding: 0.5rem 1rem;
    border-radius: 0;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .autocomplete {
        width: 100%; /* Full width on smaller screens */
    }

    input[type="submit"] {
        margin-top: 0.5rem; /* Stack button below input on smaller screens */
        width: 100%; /* Full width button on smaller screens */
    }
}

.autocomplete-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
        width: 100%;
    }

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
